* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3cfd9;
    height: 67px;
    width: 100%;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #e8833a;
    text-align: center;
}

.home {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 67px);
}

.home .select {
    height: 102px;
    width: 100%;
}

.home .select h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #293845;
}

.home .main {
    height: calc(100% - 102px);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home .main .banner {
    width: 38.7%;
    height: 29.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .main .banner img {
    width: 89%;   
}